{{ block "contact_page" . }}
  <button hx-get="/" hx-target="body">Go back to dashboard</button>
  
  {{ template "form" .Form }}
  <hr />
  {{ template "contact_list" .List }}
{{ end }}

{{ block "form" . }}
  <form hx-swap="outerHTML" hx-post="/contacts">
    <label for="name">Name</label>
    <input
      {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
      type="text" name="name"
    />
  
    <label for="email">Email</label>
    <input
      {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
      type="email" name="email"
    />
    
    {{ if .Errors.email }}
      <div style="color: red;">{{ .Errors.email }}</div>
    {{ end }}
  
    <button type="submit">Create contact</button>
  </form>
{{ end }}

{{ block "contact_list" . }}
  <div id="contacts" style="display: flex; flex-direction: column;">
    {{ range .Contacts }}
      {{ template "contact" . }}
    {{ end }}
  </div>
{{ end }}

{{ block "contact" . }}
  <div id="contact-{{ .Id }}" class="contact" style="display: flex;">
    <div
      hx-delete="/contacts/{{ .Id }}"
      hx-target="#contact-{{ .Id }}"
      hx-swap="outerHTML swap:500ms"
      hx-indicator="#contact-indicator-{{ .Id }}"
      style="width: 1rem; cursor: pointer;"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z"/>
      </svg>
    </div>

    <dl>
      <dt>Name</dt>
      <dd>{{ .Name }}</dd>

      <dt>Email</dt>
      <dd>{{ .Email }}</dd>
    </dl>
  
    <div id="contact-indicator-{{ .Id }}" class="htmx-indicator">
      <img src="/images/bars.svg" alt="loading" style="width: 1rem" />
    </div>
  </div>
{{ end }}

{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
  </div>
{{ end }}

